.cabecalho{
    background-color: aqua;
    color: azure;                                                                                                                                                                                               ;
    /*Cor do fundo da caixa*/
    display:flex;
    justify-content: space-around;

    /*cor geral, no caso usado nas letras*/
} 
.cabecalhoListaItem{
    display: inline-block;
}                          